.careers {
    margin-top: 3.5rem;
}

.jobs {

    &__content {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column-reverse;
        }
    }

    &__list {
        width: 40%;
        margin: 0 2rem;
        color: $color-light-grey-3;

        @media only screen and (max-width: $bp-small) {
            width: 80%;
            margin: auto;
        }
    }

    &__item {
        background-color: $color-primary-4;
        padding: 1.5rem;

        &:not(last-child) {
            margin-bottom: 2rem;
        }
        
    }

    &__title {
        margin-bottom: .5rem;
        font-size: 2rem;
    }

    &__detail {
        font-size: 1.8rem;
    }

    &__desc {
        width: 40%;
        margin-right:  3.5rem;
        color: $color-light-grey-3;
        font-size: 2.2rem;
        line-height: 1.2;
        text-align: justify;

        @media only screen and (max-width: $bp-small) {
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;
        }
        
    }
}