.cars {
    margin: 2rem;
    perspective: 150rem;
    padding-bottom: 4rem;

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        justify-items: center; 
        grid-row-gap: 3rem;
        
    }

    
}

.card {

    position: relative;
    height: 29rem;
    width: 24rem;

    &__side {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: all .5s ease;

        &--front {
            border-radius: .1rem;
            overflow: hidden;
            background-color: $color-light-grey-2;
            height: 100%;
            width: 100%;
        }

        &--back {
            transform: rotateY(180deg);
            background-color: $color-secondary-2-1;
            height: 100%;
            width: 100%;
        }

    }  

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(360deg);
    }
    
}

.car {
    box-shadow: 0 0rem 3rem $color-primary-3;

    &__name {
        
        color: #222;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 500;
        padding: .8rem;
        height: 6.4rem;
        
    }

    &__img {
        
        height: 17rem;

    }

    &__details {
        display: flex;
        justify-content: space-around;
        align-content: center;
        font-size: 2rem;
        padding: .4rem .2rem;
      
    }
}

.desc {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-49%);
    color: $color-light-grey-2;
    width: 21rem;
    font-size: 2rem;
    line-height: 2.5rem;

    &__list {
        list-style: none;
    }
}

.btn-rent {
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: .8rem 0;
    font-size: 2.6rem;
    width: 100%;

    background-color: $color-secondary-2-2;
    color: $color-light-grey-1;
}