.cars {
    margin: 2rem;
    perspective: 150rem;
    padding-bottom: 4rem;

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        justify-items: center; 
        grid-row-gap: 2rem;
    }

    
}

.card {

    position: relative;
    height: 18rem;
    width: 15rem;

    &__side {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: all .5s ease;

        &--front {
            border-radius: .1rem;
            overflow: hidden;
            background-color: $color-light-grey-2;
            height: 100%;
            width: 100%;
        }

        &--back {
            transform: rotateY(180deg);
            background-color: $color-secondary-2-1;
            height: 100%;
            width: 100%;
        }

    }  

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(360deg);
    }
    
}

.car {
    box-shadow: 0 0rem 3rem $color-primary-3;

    &__name {
        
        color: #222;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        padding: .8rem;
        
    }

    &__img {
        
        height: 10rem;

    }

    &__details {
        display: flex;
        justify-content: space-around;
        align-content: center;
      
    }
}

.desc {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-45%);
    color: $color-light-grey-2;
    width: 11rem;
    line-height: 1.8rem;

    &__list {
        list-style: none;
    }

    &__item {

    }
}

.btn-rent {
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;

    background-color: $color-secondary-2-2;
    color: $color-light-grey-1;
}